.menu {
   
    padding: 20px;
    font-family:  Arial;
    color: rgb(74, 63, 85);
    text-align: center;
    display: table-cell;
    vertical-align: middle;

}

.menu a {
   
    text-decoration:none ;

}
nav a{
    text-decoration:none ;

}
header{
    display: table;
}
p{
    padding: 10px;
  
}

footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(42, 9, 185);
    color: white;
  
  }
  .section p{
margin: 20px;

  }



