.menu {
   
    padding: 20px;
    font-family:  Arial;
    color: rgb(74, 63, 85);
    text-align: center;
    display: table-cell;
    vertical-align: middle;

}
a:hover{
    background-color:rgb(94, 190, 228);
}
section article p{

    padding-right: 500px;

    padding-left: 10px;
}

.menu a {
   
    text-decoration:none ;

}
nav a{
    text-decoration:none ;

}
nav  ul{
    list-style-type: none;
    display:flex;
}
header{
    display: table;
}
p{
    padding: 10px;
  
}

footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(42, 9, 185);
    color: white;
  
  }

.border1{
    padding-top:5px;
    padding-left :5px;
    padding-right:5px ;
    height: 150px;
    width:100px;
    background-color: white;
    border: 2px solid rgb(7, 7, 7);
    display: inline-table;
}

div p {
  color: rgb(196, 193, 211);
  padding-left: 2px;
}
.color{
    color: rgb(90, 173, 127);
}
div a {
    text-decoration: none;
    
   
  
}

.border2 {
   
       height: 150px;
       width: 150px;
       background-color: rgb(94, 190, 228);
       border: 2px solid rgb(94, 190, 228);
       font-size: 20px;
       font-family: Arial, Helvetica, sans-serif;
       text-align: center;
   }



