.menu {
   
    padding: 20px;
    font-family:  Arial;
    color: rgb(74, 63, 85);
    text-align: center;
    display: table-cell;
    vertical-align: middle;

}
a:hover{
    background-color: aqua;
}

.menu a {
   
    text-decoration:none ;

}
nav a{
    text-decoration:none ;

}
nav  ul{
    list-style-type: none;
    display:flex;
}
header{
    display: table;
}
p{
    padding: 10px;
  
}

footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(42, 9, 185);
    color: white;
  
  }
  section p{

padding: 40px;
right: 30px;

  }
.border1{
    padding:100px;
    height: 90px;
    width:100px;
    background-color: white;
    border: 2px solid rgb(7, 7, 7);
}

.border2 {
 
       height: 80px;
       width: 100%;
       background-color: blue;
       border: 2px solid blue;
   }



